 <!-- Header and Nav -->
  <nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <img src="/assets/logo.png"> 
      </li>
      <li class="toggle-topbar menu-icon">
        <a href="#">
          <span>
            Menu
          </span></a></li>
    </ul>
 
    <section class="top-bar-section">
      <!-- Left Nav Section -->
 
      <!-- Right Nav Section -->
      <ul class="right">
        
        <li><a class="link-proyecto" href="javascript:void(0);">el proyecto</a></li>
        <li><a href="mailto:felicimap@gmail.com">contacto</a></li>
        <li><a href="http://www.twitter.com/felicimap"><img src="/assets/twitter.png"></a></li>
        
      </ul>
    </section>
  </nav>